body{
  margin: 0;
  padding: 0;
}
.nav1 li{
 display: inline-block;
}
.nav1 a{
  text-decoration: none;
  color:black;
}
.nav1 a:hover{
  text-decoration: underline;
}
.conect{
  background-color: #4585ed;
  padding: 0.5em;
}
.nav1{
  margin-left: 83%;
  text-decoration: none;
}
section{
  text-align: center;
  padding-top: 50px;
}
section .input3{

  height: 40px;
  width: 500px;
}
#p1,#p2{
  background-color:#d3d3d3;
  padding:7px;
  display: inline-block;
}

.left ,.right , li{
  display: inline-block;
}
footer{
  background-color: #d3d3d3;
  margin-top: 20%;
}
footer .right{
  margin-left: 65%;
}
