body{
  margin: 0;
  padding: 0;
}
nav li {
 display: inline-block;
}
nav{
  margin-left: 80%;
}
section{
  text-align: center;
}
section .input3{

  height: 50px;
  width: 600px;
}
#p1,#p2{
  background-color:#8f8f8f;
  padding:7px;
  display: inline-block;
}
