body{
  margin: 0;
  padding: 0;
}
.nav1 li{
 display: inline-block;
}
.nav1 a{
  text-decoration: none;
}
.nav1{
  margin-left: 80%;
  text-decoration: none;
}
section{
  text-align: center;
}
section .input3{

  height: 40px;
  width: 500px;
}
#p1,#p2{
  background-color:#8f8f8f;
  padding:7px;
  display: inline-block;
}

.left ,.right , li{
  display: inline-block;
}
footer{
  background-color: #8f8f8f;
  margin-top: 23%;
}
footer .right{
  margin-left: 65%;
}
